body {
  width: 100%;
  margin: 0;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#canv {
  width: calc(100% - 20px);
  background-color: #C7C7C7; 
}